<form [formGroup]="updateArticle" (ngSubmit)="updateData()" class="main" >
  <div class="addContent">
    <h1>Update Article</h1>
    <label style="display: block">Title</label>
    <input type="text" name="title" formControlName="title"  style="font-size: 15px; padding: 5px" >
    <mat-error *ngIf="title&&title.hasError('required')&&title.touched">
      Description is required
    </mat-error>
    <label style="display: block; margin-top: 10px">Description</label>
    <textarea rows="6" name="description" formControlName="description" style="padding: 10px; font-size: 12px"></textarea>
    <mat-error *ngIf="description&&description.hasError('required')&&description.touched">
      Description is required
    </mat-error>
    <br>
    <button type="submit" class="btn btn-success  shadow" [disabled]="title&&title.errors||description&&description.errors?'true':''">Update</button>
  </div>
  <div class="uploadImg">
<!--    <h2 style="margin: 20px">Image</h2>-->
    <img [src]="url" width="200px" style="margin:60px 30px 5px 30px">
    <input type="file" id="myFile" name="filename" (change)="onSelectFile($event)" style="font-size: 10px;margin-left: 30px">
  </div>
</form>
