.main{
  width: 70%;
  margin: auto;
}
.addContent{
  width: 70%;
  float: left;
}
.uploadImg{
  width: 30%;
  float: left;
}
input label{
  display: inline;
}
input{
  font-size: 24px;
  width: 100%;
}
label{
  font-size: 20px;
}
textarea{
  font-size: 20px;
  width: 100%;
}
button{
  background-color: mediumblue;
  color: white;
  width: 170px;
  height: 40px;
}
button:disabled{
  background-color:  #dddddd;
  color: darkgray;
}
