<form [formGroup]="inputArticle" class="main" (ngSubmit)="onSubmit()">
  <div class="addContent">
    <h1>Add Article</h1>
    <label style="display: block">Title</label>
    <input matInput type="text" name="title" formControlName="title" >
    <mat-error *ngIf="title&&title.hasError('required')&&title.touched">
      Title is required
    </mat-error>
    <label style="display: block; margin-top: 10px">Description</label>
    <textarea rows="6" name="description" formControlName="description"></textarea>
    <mat-error *ngIf="description&&description.hasError('required')&&description.touched">
      Description is required
    </mat-error>
<br>
    <button type="submit" class="btn btn-success" [disabled]="title&&title.errors||description&&description.errors?'true':''"  >Add</button>
  </div>
  <div class="uploadImg">
   <img class="rounded rounded-5" [src]="url" width="200px" style="margin:80px 30px 5px 30px">
    <input type="file" id="myFile" name="filename" (change)="onSelectFile($event)" style="font-size: 10px; margin-left: 30px">
  </div>
</form>


