<!--<button (click)="onNewArticle()" mat-raised-button color="primary">Add Article</button>-->
<div class="container ">
  <div class="d-flex  flex-wrap">
    <!---------------card ------------------->
    <div  *ngFor="let post of posts; index as i; " class="card m-2 card-shadow" style="width: 16rem;">
      <div class="d-flex flex-column flex-wrap justify-content-between">
        <img src='{{post.image}}' class="card-img-top" alt="photo">
        <div class="card-body">
          <h5 class="card-title " style="font-weight: bold; font-size: 14px">{{post.title}}</h5>
          <p class="card-text " style="font-size: 12px" [ngClass]="{'limitTextHeight': isReadMore}" >{{post.description}}</p>
          <button type="button" style="padding: 0; border: none; background: none" (click)="showText()">
            {{ isReadMore ? 'Read More': 'Read Less' }}
          </button>
        </div>
        <div class="card-body pt-0">
          <button type="button" class="btn btn-success mx-1" (click)="onView(post._id)">View</button>
          <button type="button" class="btn btn-warning mx-1" (click)="onEdit(post._id)">Edit</button>
          <button type="button" class="btn btn-danger mx-1" (click)="onDelete(post._id,i)">Delete</button>
        </div>
      </div>

    </div>

  </div>
</div>

