<div class="container">
<div class="d-flex  justify-content-start">
  <div style="" class=" m-2">
    <h2>{{post.title}}</h2>
    <p>{{post.description}}</p>
  </div>
  <div>
    <img class="m-2 " src='{{post.image}}' alt="photo" width="400px"/>
  </div>
</div>
</div>
